<button id="responsive-menu-button"
        class="responsive-menu-button responsive-menu-{{ options.button_click_animation }}
        {% if options.button_title_position == 'left' or options.button_title_position == 'right' %} responsive-menu-accessible{% endif %}"
        type="button"
        aria-label="Menu">

    {% if options.button_title_position == 'top' or options.button_title_position == 'left' and options.button_title %}
        <span class="responsive-menu-label responsive-menu-label-{{ options.button_title_position }}">
            <span class="responsive-menu-button-text">{{ options.button_title|translate('button_title') }}</span>
            {% if options.button_title_open %}
                <span class="responsive-menu-button-text-open">{{ options.button_title_open|translate('button_title_open') }}</span>
            {% endif %}
        </span>
    {% endif %}

    <span class="responsive-menu-box">
        {{ options.getButtonIcon()|raw }}{{ options.getButtonIconActive()|raw }}
    </span>

    {% if options.button_title_position == 'bottom' or options.button_title_position == 'right' and options.button_title %}
        <span class="responsive-menu-label responsive-menu-label-{{ options.button_title_position }}">
            <span class="responsive-menu-button-text">{{ options.button_title|translate('button_title') }}</span>
            {% if options.button_title_open %}
                <span class="responsive-menu-button-text-open">{{ options.button_title_open|translate('button_title_open') }}</span>
            {% endif %}
        </span>
    {% endif %}
</button>