{% if options.menu_title|translate('menu_title') or options.getTitleImage() %}
    <div id="responsive-menu-title">
        {% if options.menu_title_link|translate('menu_title_link') %}
            <a href="{{ options.menu_title_link|translate('menu_title_link') }}" target="{{ options.menu_title_link_location }}">
        {% endif %}

        {% if options.getTitleImage() %}
            <div id="responsive-menu-title-image">{{ options.getTitleImage()|raw }}</div>
        {% endif %}

        {% if options.menu_title_link|translate('menu_title_link') %}
            </a>
        {% endif %}

        {% if options.menu_title_link %}
            <a href="{{ options.menu_title_link|translate('menu_title_link') }}" target="{{ options.menu_title_link_location }}">
        {% endif %}

        {{ options.menu_title|translate('menu_title') }}

        {% if options.menu_title_link|translate('menu_title_link') %}
            </a>
        {% endif %}
    </div>
{% endif %}