{% import 'admin/macros.html.twig' as macros %}

{% set section = 'Desktop Menu' %}

<div class='panel panel-default'>
    <div class='panel-body'>Use Desktop Menu<small>{{ section }}</small></div>
    <table class='table table-bordered table-hover'>
        {{ macros.row('use_desktop_menu', 'Use Desktop Menu', 'checkbox', options, errors, '', 'pro', '', '', 'To position the menu in a specific location in your theme you must turn the Shortcode option on and place the shortcode in your template where you want the menu to appear.') }}
        {{ macros.row('desktop_menu_positioning', 'Positioning', 'select', options, errors, '', 'pro', 'position', '', '', '', '', 'Using relative positioning is useful when combined with the shortcode.') }}
    </table>
</div>

<div class="panel panel-default">
    <div class="panel-body">Desktop Menu Settings <a href="/docs/" class="docs" target="_blank">Docs</a><small>{{ section }}</small></div>
    {% include 'admin/sections/modules/desktop-menu-settings.html.twig' %}
</div>

<div class='panel panel-default'>
    <div class='panel-body'>Top Level Link Colours<small>{{ section }}</small></div>
    <table class='table table-bordered table-hover'>
        {{ macros.row('single_menu_item_background_colour', 'Background', 'colour', options, errors, '', 'pro') }}
        {{ macros.row('single_menu_item_background_colour_hover', 'Background Hover', 'colour', options, errors, '', 'pro') }}
        {{ macros.row('single_menu_item_link_colour', 'Text', 'colour', options, errors, '', 'pro') }}
        {{ macros.row('single_menu_item_link_colour_hover', 'Text Hover', 'colour', options, errors, '', 'pro') }}
    </table>
</div>

<div class='panel panel-default'>
    <div class='panel-body'>Sub-Menu Link Colours<small>{{ section }}</small></div>
    <table class='table table-bordered table-hover'>
        {{ macros.row('single_menu_item_submenu_background_colour', 'Background', 'colour', options, errors, '', 'pro') }}
        {{ macros.row('single_menu_item_submenu_background_colour_hover', 'Background Hover', 'colour', options, errors, '', 'pro') }}
        {{ macros.row('single_menu_item_submenu_link_colour', 'Text', 'colour', options, errors, '', 'pro') }}
        {{ macros.row('single_menu_item_submenu_link_colour_hover', 'Text Hover', 'colour', options, errors, '', 'pro') }}
    </table>
</div>

<div class='panel panel-default'>
    <div class='panel-body'>Top Level Styling<small>{{ section }}</small></div>
    <table class='table table-bordered table-hover'>
        {{ macros.row('single_menu_font', 'Font', 'input', options, errors, '', 'pro') }}
        {{ macros.row('single_menu_font_size', 'Font size', 'input', options, errors, 'has-unit', 'pro', '', 'pixel') }}
    </table>
</div>

<div class='panel panel-default'>
    <div class='panel-body'>Sub-Menu Styling<small>{{ section }}</small></div>
    <table class='table table-bordered table-hover'>
        {{ macros.row('single_menu_submenu_font', 'Font', 'input', options, errors, '', 'pro') }}
        {{ macros.row('single_menu_submenu_font_size', 'Font size', 'input', options, errors, 'has-unit', 'pro', '', 'pixel') }}
    </table>
</div>

<div class='panel panel-default'>
    <div class='panel-body'>Top Level Sizing<small>{{ section }}</small></div>
    <table class='table table-bordered table-hover'>
        {{ macros.row('single_menu_height', 'Height', 'input', options, errors, 'has-unit', 'pro', '', 'pixel') }}
    </table>
</div>

<div class='panel panel-default'>
    <div class='panel-body'>Sub-Menu Sizing<small>{{ section }}</small></div>
    <table class='table table-bordered table-hover'>
        {{ macros.row('single_menu_submenu_height', 'Height', 'input', options, errors, 'has-unit', 'pro', '', 'pixel') }}
    </table>
</div>