{% import 'admin/macros.html.twig' as macros %}

<div class='panel panel-default'>
    <div class='panel-body'>Initial Setup</div>
    <table class='table table-bordered table-hover'>
        {{ macros.row('use_header_bar', 'Use Header Bar', 'checkbox', options, errors, '', 'pro') }}
        {{ macros.row('header_bar_position_type', 'Positioning', 'select', options, errors, '', 'pro', 'position') }}
        {{ macros.row('header_bar_breakpoint', 'Breakpoint', 'input', options, errors, '', 'pro', '', '', '', 'px') }}
    </table>
</div>

<div class='panel panel-default'>
    <div class='panel-body'>Ordering</div>
    <table class='table table-bordered table-hover' id='header-bar-items-order-container'>
        <tr{% if errors.header_bar_items_order %} class='danger'{% endif %}>
            <td class='well col-md-3'>
                <label for='items_order' class='control-label'>Order of Header Bar Items</label>
                <div class='sub-text'>Drag the items to re-order and click to turn them on or off.</div>
            </td>
            <td class='pro'>
                <div class='responsive-menu-pro-overlay'>
                    <a href='https://responsive.menu/why-go-pro/?utm_source=free-plugin&utm_medium=option&utm_campaign=free-plugin-option-upgrade'
                       target='_blank'>Click to upgrade now to use</a>
                </div>
                <ul id='header-bar-sortable'>
                    {% for key, selected in header_bar_items(options.header_bar_items_order|json_decode) %}
                        <li class='draggable'>
                            {{ key|title }}
                            <input type='text' class='orderable-item' value='{{ selected }}' name='menu[header_bar_items_order][{{ key }}]' />
                            <div class='menu-order-option-switch{% if selected == 'on' %} menu-order-option-switch-on{% endif %}'></div>
                        </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>
    <script>
        jQuery(document).ready(function($) {
            $('#header-bar-sortable').sortable({
                revert: true
            });
        });
    </script>
</div>

<div class='panel panel-default'>
    <div class='panel-body'>Logo</div>
    <table class='table table-bordered table-hover'>
        {{ macros.row('header_bar_logo', 'Image', 'image', options, errors, '', 'pro') }}
        {{ macros.row('header_bar_logo_alt', 'Alt Text', 'input', options, errors, '', 'pro') }}
        {{ macros.row('header_bar_logo_link', 'Link', 'input', options, errors, '', 'pro') }}
    </table>
</div>

<div class='panel panel-default'>
    <div class='panel-body'>Title</div>
    <table class='table table-bordered table-hover'>
        {{ macros.row('header_bar_title', 'Text', 'input', options, errors, '', 'pro') }}
    </table>
</div>

<div class='panel panel-default'>
    <div class='panel-body'>Content</div>
    <table class='table table-bordered table-hover'>
        {{ macros.row('header_bar_html_content', 'HTML Content', 'textarea', options, errors, '', 'pro', '', '', 'HTML and shortcodes can be used here.') }}
    </table>
</div>

<div class='panel panel-default'>
    <div class='panel-body'>Text</div>
    <table class='table table-bordered table-hover'>
        {{ macros.row('header_bar_font', 'Font', 'input', options, errors, '', 'pro') }}
        {{ macros.row('header_bar_font_size', 'Font Size', 'input', options, errors, 'has-unit', 'pro', '', 'pixel') }}
    </table>
</div>

<div class='panel panel-default'>
    <div class='panel-body'>Sizing</div>
    <table class='table table-bordered table-hover'>
        {{ macros.row('header_bar_height', 'Height', 'input', options, errors, 'has-unit', 'pro', '', 'pixel') }}
    </table>
</div>

<div class='panel panel-default'>
    <div class='panel-body'>Colours</div>
    <table class='table table-bordered table-hover'>
        {{ macros.row('header_bar_background_color', 'Background', 'colour', options, errors, '', 'pro') }}
        {{ macros.row('header_bar_text_color', 'Text', 'colour', options, errors, '', 'pro') }}
    </table>
</div>