{% import 'admin/macros.html.twig' as macros %}

{% set section = 'Header Bar' %}

<div class='panel panel-default'>
    <div class='panel-body'>Initial Setup <a class="docs" href="{{ url }}" target="_blank">Docs</a><small>{{ section }}</small></div>
    <table class='table table-bordered table-hover'>
        {{ macros.row('use_header_bar', 'Use Header Bar', 'checkbox', options, errors, '', 'pro') }}
        {{ macros.row('header_bar_position_type', 'Positioning', 'select', options, errors, '', 'pro', 'position') }}
        {{ macros.row('header_bar_breakpoint', 'Breakpoint', 'input', options, errors, '', 'pro', '', '', '', 'px') }}
    </table>
</div>

<div class='panel panel-default'>
    <div class='panel-body'>Ordering<small>{{ section }}</small></div>
    {% include 'admin/sections/modules/header-bar-ordering.html.twig' %}
</div>

<div class='panel panel-default'>
    <div class='panel-body'>Logo<small>{{ section }}</small></div>
    <table class='table table-bordered table-hover'>
        {{ macros.row('header_bar_logo', 'Image', 'image', options, errors, '', 'pro') }}
        {{ macros.row('header_bar_logo_alt', 'Alt Text', 'input', options, errors, '', 'pro') }}
        {{ macros.row('header_bar_logo_link', 'Link', 'input', options, errors, '', 'pro') }}
    </table>
</div>

<div class='panel panel-default'>
    <div class='panel-body'>Title<small>{{ section }}</small></div>
    <table class='table table-bordered table-hover'>
        {{ macros.row('header_bar_title', 'Text', 'input', options, errors, '', 'pro') }}
    </table>
</div>

<div class='panel panel-default'>
    <div class='panel-body'>Content<small>{{ section }}</small></div>
    <table class='table table-bordered table-hover'>
        {{ macros.row('header_bar_html_content', 'HTML Content', 'textarea', options, errors, '', 'pro', '', '', 'HTML and shortcodes can be used here.') }}
    </table>
</div>

<div class='panel panel-default'>
    <div class='panel-body'>Text<small>{{ section }}</small></div>
    <table class='table table-bordered table-hover'>
        {{ macros.row('header_bar_font', 'Font', 'input', options, errors, '', 'pro') }}
        {{ macros.row('header_bar_font_size', 'Font Size', 'input', options, errors, 'has-unit', 'pro', '', 'pixel') }}
    </table>
</div>

<div class='panel panel-default'>
    <div class='panel-body'>Sizing<small>{{ section }}</small></div>
    <table class='table table-bordered table-hover'>
        {{ macros.row('header_bar_height', 'Height', 'input', options, errors, 'has-unit', 'pro', '', 'pixel') }}
    </table>
</div>

<div class='panel panel-default'>
    <div class='panel-body'>Colours<small>{{ section }}</small></div>
    <table class='table table-bordered table-hover'>
        {{ macros.row('header_bar_background_color', 'Background', 'colour', options, errors, '', 'pro') }}
        {{ macros.row('header_bar_text_color', 'Text', 'colour', options, errors, '', 'pro') }}
    </table>
</div>