<div class="panel panel-default">
    <div class="panel-body">Here you can turn options on or off and re-arrange them accordingly.</div>
    <table class="table table-bordered table-hover">
        <tr>
            <td class="well col-md-3">
                <label for="items_order" class="control-label">Order of Menu Items</label>
                <div class="sub-text">Drag the items to re-order and click to turn them on or off.</div>
            </td>
            <td>
                <ul id="menu-sortable">
                    {% for key, selected in options.items_order|json_decode %}
                        <li class="draggable">
                            {{ key|title }}
                            <input type="text" class="orderable-item" value="{{ selected }}" name="menu[items_order][{{ key }}]" />
                            <div class="menu-order-option-switch{% if selected == 'on' %} menu-order-option-switch-on{% endif %}"></div>
                        </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>
</div>

<div class="panel panel-default">
    <div class="panel-body">Here you can turn options on or off and re-arrange them accordingly.</div>
    <table class="table table-bordered table-hover">
        <tr>
            <td class="well col-md-3">
                <label for="items_order" class="control-label">Order of Menu Items</label>
                <div class="sub-text">Drag the items to re-order and click to turn them on or off.</div>
            </td>
            <td>
                <table id='font-icon-container'>
                    <tr>
                        <td>Id</td>
                        <td>Icon</td>
                    </tr>
                    {% set icons = options.menu_font_icons|json_decode %}
                    {% set ids_and_icons = combine(icons.id, icons.icon) %}
                    {% for id, icon in ids_and_icons %}
                        {% if icon or id %}
                            <tr>
                                <td><input type="text" class="form-control" value="{{ id }}" name="menu[menu_font_icons][id][]" /></td>
                                <td><input type="text" class="form-control" value="{{ icon }}" name="menu[menu_font_icons][icon][]" /></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    <tr>
                        <td><input type="text" class="form-control" name="menu[menu_font_icons][id][]" /></td>
                        <td><input type="text" class="form-control" name="menu[menu_font_icons][icon][]" /></td>
                    </tr>
                </table>
                <button id="add-font-icon" class="btn btn-primary" type="button">Add Font Icon</button>
            </td>
        </tr>
    </table>
</div>

<script>
    jQuery(document).ready(function($) {
        $(document).on('click', '.menu-order-option-switch', function() {
            var siblings = $(this).siblings('input.orderable-item');
            if(siblings.val() != 'on') {
                siblings.val('on');
                $(this).addClass('menu-order-option-switch-on');
            } else {
                siblings.val('');
                $(this).removeClass('menu-order-option-switch-on');
            }
        });
        $('#menu-sortable').sortable({
            revert: true
        });
        $('#sortable, .draggable').disableSelection();
    });

    jQuery(document).ready(function($) {
        $(document).on('click', '#add-font-icon', function() {
            var lastRow = $('#font-icon-container tr').last();
            var nextRow = lastRow.clone();
            nextRow.find(':text').val('')
            lastRow.after(nextRow);
        });
    });
</script>