{#
    Responsive Menu Jinja template file.
    Safe to Copy
#}

{% import 'admin/macros.html.twig' as macros %}

{% set section = 'Technical' %}

<div class='panel panel-default'>
    {{ macros.header('Theme', section) }}
    <table class='table table-bordered table-hover'>
        {{ macros.row('admin_theme', 'Admin Theme', 'select', options, errors, '', '', 'theme', '', 'You can change the admin layout colour scheme to match your preference.') }}
    </table>
</div>

<div class='panel panel-default'>
    {{ macros.header('Scripts', section) }}
    <table class='table table-bordered table-hover'>
        {{ macros.row('external_files', 'Use External Files', 'checkbox', options, errors, '', '', '', '', 'Create external files for the CSS and JavaScript created by this plugin.') }}
        {{ macros.row('minify_scripts', 'Minify Scripts', 'checkbox', options, errors, '', '', '', '', 'Minify the CSS and JavaScript created by this plugin.') }}
        {{ macros.row('scripts_in_footer', 'Place Scripts In Footer', 'checkbox', options, errors, '', '', '', '', 'Place the JavaScript created by this plugin in the footer.') }}
    </table>
</div>

<div class='panel panel-default fully-pro-container'>
    {{ macros.header('Remove Scripts', section) }}
    <table class='table table-bordered table-hover'>
        {{ macros.row('remove_fontawesome', 'Remove FontAwesome Scripts', 'checkbox', options, errors, '', 'pro', '', '', 'Stop this plugins FontAwesome scripts from being loaded. Useful if you want to run your own FontAwesome version or already have it installed.') }}
        {{ macros.row('remove_bootstrap', 'Remove BootStrap Scripts', 'checkbox', options, errors, '', 'pro', '', '', 'Stop this plugins BootStrap scripts from being loaded. Useful if you want to run your own BootStrap version for GlyphIcons or already have it installed.') }}
    </table>
</div>

<div class='panel panel-default'>
    {{ macros.header('Transfer', section) }}
    <table class='table table-bordered table-hover'>
        {% include 'admin/sections/modules/transfer.html.twig' %}
    </table>
</div>

<div class='panel panel-default'>
    {{ macros.header('Rebuild', section) }}
    <table class='table table-bordered table-hover'>
        {% include 'admin/sections/modules/rebuild.html.twig' %}
    </table>
</div>
